@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn-primary {
  @extend %btn-base;
  background: $gold;
  color: $dark;
  font-weight: 600;
  border: 2px solid $gold;

  &:hover {
    background: transparent;
    color: $gold;
  }
}

.btn-outline {
  @extend %btn-base;
  background: transparent;
  color: $white;
  font-weight: 500;
  border: 1.5px solid rgba($white, 0.42);

  &:hover {
    border-color: $white;
    background: rgba($white, 0.07);
  }
}
